# flyctl launch added from .gitignore
# Python
**/__pycache__
**/*.py[cod]
**/*$py.class
**/*.so
**/.Python
**/venv
**/env
**/ENV

# Database
**/*.db
**/strangersync.db
**/*.sqlite3

# Environment
**/.env
**/.env.local

# IDEs
**/.vscode
**/.idea
**/*.swp
**/*.swo

# OS
**/.DS_Store
**/Thumbs.db

# Docker
**/*.log

# flyctl launch added from venv/.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
venv/**/*
fly.toml
